@inherits LayoutComponentBase
@rendermode InteractiveServer


<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
        <NavBar />
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
        <SideBar />

  <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <GlobalNotification />
            @Body
        </div>
    <!-- /.content -->
  
  <!-- /.content-wrapper -->
    <Footer />

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
    <Js />
</body>
