<aside class="main-sidebar elevation-4" style="background-color: #FFF5EE;">
    <!-- Brand Logo -->
    <a href="/myspace" class="brand-link" style="background-color: #FFFAFA; border-bottom: 2px solid #EEE9E9;">
        <img src="client/logo.png" alt="SecShare Logo" style="opacity: .8; width: 120px; height: 120px; margin-left: 50px;">
        @* <span class="brand-text font-weight-light">SecShare</span> *@
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="align-items: center; border-bottom: 2px solid;">
            <div class="image">
                <img src="client/userIcon.png" alt="User Image" style="width: 80px;">
            </div>
            <div class="info">
                <a href="/myaccount" class="d-block" style="color: #4F4F4F; font-size:larger">@userModel!.Name</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/myspace" class="nav-link" style="color: #363636;">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            My Space
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/receive" class="nav-link" style="color: #363636;">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Recieves share
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/group" class="nav-link" style="color: #363636;">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Groups
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/myAccount" class="nav-link" style="color: #363636;">
                        <i class="nav-icon fas fa-user-circle"></i>
                        <p>
                            My account
                        </p>
                    </a>
                </li>
                <button class="btn btn-danger" @onclick="()=> Logout()">
                    <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                    Log out
                </button>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>